/*
=============== 
Variables
===============
*/
:root {
  /* colours */
  --clr-1: #434343;
  --clr-2: #f1ebe1;
  /* box */
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline-hover: .2rem solid #130f40;
  --transition: 0.3s ease;
}
body {
  background: rgb(19, 19, 19);
  overflow-x: hidden;
}

*{
  margin: 0px;
  padding: 0px;
}

.alert{
  z-index: 0;
}
.bgimage{
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/BG.jpg");
  background-size: 2500px;
  background-position: center;
  width: 100%;
  height: 100vh;

}
.menu{
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.1);
}

.leftmenu{
    display: flex;
    align-items: center;
  width: 40%;
  height: 100%;
  float: left;
}

.leftmenu h4{
  padding-left: 10%;
  font-weight: bold;
  color: white;
  font-size: 150%;
  font-family: 'montserrat', sans-serif;
  
}

.rightmenu{
  position: absolute;
  right: 0px;
  width: 60%;
  height: 15%;
  line-height: 100Px;
}
.rightmenu ul{
  display: flex;
  align-items: center;
  height:100%;
  float: right;
  margin-right: 10%;
}
.rightmenu ul li{
  font-family: 'montserrat', sans-serif ;
  list-style: none;
  font-size: 100%;
  color: white;
  font-weight: bold;
  line-height: 100px;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.rightmenu ul li:hover{
  color: #00ccff;
}

.rightmenuBurger{
  visibility: hidden;
  right: 0;
  width: 60%;
  height: 100%;
  line-height: 100Px;
  float: right;
  z-index: 1;
}
    
.rightmenuBurger ul{
  float: right;
  margin-right: 0%;
  height:100%;
}
.rightmenuBurger ul li, .rightmenuBurger a, .rightmenuBurger form{
  font-family: 'montserrat', sans-serif ;
  list-style: none;
  color: white;
  font-weight: bold;
  line-height: 100px;
  text-transform: uppercase;
  cursor: pointer;
}
    
.rightmenuBurger ul #myLinks{
  position: relative;
  display: flex;
  flex-direction: column;
    
  background-color: black;
  width: 100%;
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
  z-index: 1;
}
    
.rightmenuBurger a {
  color: white;
  
  padding:0px 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.rightmenuBurger a.icon {
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  position: relative; 
  right: 0;
  top: 0;
}

.rightmenuBurger a:hover, .rightmenuBurger li:hover, .rightmenuBurger form:hover {
  background-color: #ddd;
  color: black;
}

.text{
  width: 100%;
  margin-top:185px ;
  text-transform: uppercase;
  text-align: center;
  color: white;

}
.text h4{
  font-size: 14px;
  font-family: 'open sans', sans-serif;
}
.text h1{
  font-size: 62px;
  font-family: 'montserrat', sans-serif ;
  font-weight: 700px;
  margin: 14px 0px;
}

.text h3{
  font-size: 15px;
  font-family: 'open sans', sans-serif;
}

.text div {
  width: 15%;
}

.loginBtn{
  background-color: rgba(255,255,255, 0.164);
  color: white;
  font-family: 'montserrat', sans-serif ;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  margin-top: 25px;
  border: 3px solid white;
  cursor: pointer;
  display:inline-block;
  margin-right: 5px;
}
.loginBtn:hover{
  background-color: white;
  color: black;
}
/*
=============== 
Responsive Rules
===============
*/

/* Mobile */
@media screen and (max-width: 480px){
.bgimage {
  background-size: 2500px;
}

.leftmenu h4{
  padding: 25px 12px;
  font-size: 14px;
}

.rightmenu{
  visibility: hidden;
}

.rightmenuBurger{
  visibility: visible;
}

.active {
  color: white;
}

.text h1{
  font-size: 25px;
}
.text h2{
  font-size: 9px;
}
.text h3{
  font-size: 8px;
  padding-bottom: 15px;
}

h1{
  font-size: 25px;
}

.text div {
  width: 50%;
  font-size: 14px;
}

}
/* Tablets */
@media screen and (min-width: 481px) and (max-width: 767px){
.bgimage {
  background-size: 1500px;
  height: 600px;
}


.leftmenu h4{
  padding: 35px 20px;
  font-size: 25px;
}

.rightmenu ul li{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.rightmenu{
  visibility: hidden;
}

.rightmenuBurger{
  visibility: visible;
}

.text h1{
    line-height: 60px
 }

 .text div {
  width: 50%;
}

}
/* Tablets Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px){
.bgimage {
  background-size: 2500px;
}

.leftmenu h4{
  padding: 25px 20px;
  font-size: 25px;
}

.rightmenu{
  visibility: hidden;
}

.rightmenu ul li{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.rightmenuBurger{
  visibility: visible;
}

.text div {
  width: 25%;
  font-size: 25px;
}
}
/* Laptops and Desktops */
@media screen and (min-width: 1025px) and (max-width: 1281px){
.bgimage {
  background-size: 2000px;
}
.leftmenu h4{
  padding: 25px 20px;
  font-size: 20px;
  margin-top: -15px;
}

.rightmenu{
  visibility: hidden;
}

.rightmenuBurger{
  visibility: visible;
}

.rightmenu ul li{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
}
/* Large Screen */
@media screen and (min-width: 1281px) and (max-width: 2159){
.bgimage {
  background-size: 2500px;
}
.leftmenu h4{
  font-size: 25px;
  margin-top: -15px;
}


.rightmenu ul li{
  font-size: 17.5px;
  margin-top: 5px;
}
}

@media screen and (min-width: 2160px){
  .bgimage {
    background-size: 3500px;
  }
  .leftmenu h4{
    font-size: 30px;
  }
  

  .rightmenu ul li{
    font-size: 25px;
    margin-top: 25px;
  }
}

/*
=============== 
Footer
===============
*/
footer{
  background: #2e302e;
}
.copyright{
  font-size: 1rem;
  color: #eee;
  padding: 0 0 1rem 1rem;
}

.footer{
  display: flex;
  padding-top: 20px; 
  justify-content: space-evenly;
  vertical-align: top;
}

.footer ul{
  padding-left: 20px;
}

.footer .far{
  position: absolute;
  left: 10%;
}

p{
  margin: 0px;
}

.team h1,
.jobs h1,
.customer h1{
  color: #eee;
  padding-bottom: 2rem;
}

.team li,
.team a,
.jobs li,
.jobs p,
.customer li,
.customer p{
  color: #eee;
  font-size: 1rem;
  padding-bottom: 1rem;
}
.team a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 1023px){
  .footer{
    flex-direction: column;
    padding-left: 20%;
    font-size: .1rem;
  }

  .footer .far{
    position: sticky;
    /* position: fixed; */
    /* bottom: 40px; */
    
    /* padding-top: 10px; */
    left: 5%;

  }

  .team h1,
  .jobs h1,
  .customer h1{
    padding-bottom: .1rem;
    font-size: 2rem;
} 

  .team li,
  .team a,
  .jobs li,
  .jobs p,
  .customer li,
  .customer p{
    font-size: 1rem;
  }
}

/*
====== Log In Page =====
*/
section {
  padding: 2rem 5%;
}
.section-title{
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 2rem;
}
.section-title span {
  background: var(--clr-1);
  padding: .5rem 3rem;
  display: inline-block;
  clip-path: polygon(10% 10%, 90% 10%, 90% 80%, 50% 100%, 10% 80%);
  color: var(--clr-2);
}
.login-container {

  display: block;
  background-color: #bfbfbf;opacity: 70%;
  max-width: 420px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 20px 60px 20px 60px;
  /* padding-left: 66px;
  padding-right: 66px;
  padding-bottom: 20px;
  padding-top: 20px; */
  font-size: small;
  border-radius: 1rem;
  border: .3rem solid #000000;
  width: auto;
}

.login-container a {
  color: #043d1c;
}

.login-container input {
  width: 100%;
  font-size: medium;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5;
  margin-bottom: 15px;

}

.login-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  border-radius: .5rem;
  border: .2rem solid var(--clr-1);
  color: var(--clr-1);
  cursor: pointer;
  font-size: large;
  cursor: pointer;
}

.login-btn:hover {
  background: var(--clr-1);
  color: var(--clr-2);
  transition: var(--transition);
}

@media screen and (max-width: 600px) {

  .login-container {
    padding-left: 66px;
    padding-right: 66px;
    max-width: 333px;
  }

  .login-container input {

    width: 200px;
    font-size: small;
  }

}



/*
=============== 
User form 
===============
*/

#formDiv {
color: white;
text-align:center;
margin-top: 25px;
}

#formDiv .form-center {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 17px;
  color: white; 
  padding:5px 5px;
}

.inputRequest {
font-family: sans-serif;
width: 700px;
height: 150%;
font-size: 12px;
padding: 5px 5px;
margin: 8px 0;
border: 3px solid rgb(3, 3, 3);
max-height:275px;
}

.submit-button{
font-family: sans-serif;
font-size: 15px;
color: white;
background-color: #34268f;
padding: 12px 10px;
margin: 5px 0;
border: 2px solid black;
cursor: pointer;
width: 35%;
}

.submit-button:hover{
background-color:DarkBlue;
}



/*
=======================
===== User Portal =====
=======================
*/

/*** Button ***/
.btn {
font-family: 'Inter', sans-serif;
font-weight: 600;
transition: .5s;
}

.btn.btn-primary{
color: #FFFFFF;
}

/*** Request Listing ***/
.nav-pills .nav-item .active {
border-bottom: 2px solid #4d32ff;
}

.reqList {
border: 1px solid transparent;
background-color: #ffffff;
border-radius: 20px;
opacity: 70%;
height: 55px;
box-shadow: 0 0 45px rgba(0, 0, 0, .08);
transition: .5s;

}

.reqList:hover {
border-color: rgba(0, 0, 0, .08);
box-shadow: none;
}






